In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("merged-tripdata.csv",error_bad_lines=False,engine="python")

In [ ]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birthyear,gender
0,634,01-07-2013 00:00,01-07-2013 00:10,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950.0,Customer,\N,0.0
1,1547,01-07-2013 00:00,01-07-2013 00:25,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816.0,Customer,\N,0.0
2,178,01-07-2013 00:01,01-07-2013 00:04,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548.0,Subscriber,1980,2.0
3,1580,01-07-2013 00:01,01-07-2013 00:27,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063.0,Customer,\N,0.0
4,757,01-07-2013 00:01,01-07-2013 00:13,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213.0,Subscriber,1986,1.0

In [ ]:
df2=pd.DataFrame()
df2['available']=df['gender']

In [ ]:
df2.head()

   available
0        0.0
1        0.0
2        2.0
3        0.0
4        1.0

In [ ]:
df3=pd.DataFrame()
df3['start_time']=pd.to_datetime(df['starttime'],errors='coerce',format='%Y-%m-%d %H:%M:%S')

In [ ]:
df3['stop_time']=pd.to_datetime(df['stoptime'],errors='coerce',format='%Y-%m-%d %H:%M:%S')

In [ ]:
df['startdate'] = pd.to_datetime(df3['start_time'])

In [ ]:
df['stopdate'] = pd.to_datetime(df3['stop_time'])

In [ ]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birthyear,gender,startdate,stopdate
0,634,01-07-2013 00:00,01-07-2013 00:10,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950.0,Customer,\N,0.0,NaT,NaT
1,1547,01-07-2013 00:00,01-07-2013 00:25,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816.0,Customer,\N,0.0,NaT,NaT
2,178,01-07-2013 00:01,01-07-2013 00:04,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548.0,Subscriber,1980,2.0,NaT,NaT
3,1580,01-07-2013 00:01,01-07-2013 00:27,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063.0,Customer,\N,0.0,NaT,NaT
4,757,01-07-2013 00:01,01-07-2013 00:13,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213.0,Subscriber,1986,1.0,NaT,NaT

In [ ]:
df['startmonth'] = df['startdate'].dt.month
df['startday'] = df['startdate'].dt.day
df['startminute'] = df['startdate'].dt.minute
df['startweek'] = df['startdate'].dt.minute
df['startweekday'] = df['startdate'].dt.minute
df['startweek'] = df['startdate'].dt.week
df['startweekofyear'] = df['startdate'].dt.weekofyear
df['startweekday'] = df['startdate'].dt.weekday
df['startdayofyear'] = df['startdate'].dt.dayofyear

df['startquarter'] = df['startdate'].dt.quarter
df['stopmonth'] = df['stopdate'].dt.month
df['stopday'] = df['startdate'].dt.day
df['stopminute'] = df['stopdate'].dt.minute
df['stopweek'] = df['stopdate'].dt.minute
df['stopweekday'] = df['stopdate'].dt.minute
df['stopdayofyear'] = df['stopdate'].dt.dayofyear
df['stopquarter'] = df['stopdate'].dt.quarter
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  import sys

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,startweekofyear,startdayofyear,startquarter,stopmonth,stopday,stopminute,stopweek,stopweekday,stopdayofyear,stopquarter
0,634,01-07-2013 00:00,01-07-2013 00:10,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1547,01-07-2013 00:00,01-07-2013 00:25,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,178,01-07-2013 00:01,01-07-2013 00:04,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1580,01-07-2013 00:01,01-07-2013 00:27,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,757,01-07-2013 00:01,01-07-2013 00:13,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,startweekofyear,startdayofyear,startquarter,stopmonth,stopday,stopminute,stopweek,stopweekday,stopdayofyear,stopquarter
796714,481,30-07-2013 18:50,30-07-2013 18:58,473,Rivington St & Chrystie St,40.721101,-73.991925,463,9 Ave & W 16 St,40.742065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796715,873,30-07-2013 18:50,30-07-2013 19:04,329,Greenwich St & N Moore St,40.720434,-74.010206,453,W 22 St & 8 Ave,40.744751,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796716,181,30-07-2013 18:50,30-07-2013 18:53,379,W 31 St & 7 Ave,40.749156,-73.991600,512,W 29 St & 9 Ave,40.750073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796717,453,30-07-2013 18:50,30-07-2013 18:57,323,Lawrence St & Willoughby St,40.692362,-73.986317,271,Ashland Pl & Hanson Pl,40.685282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
796718,477,30-07-2013 18:50,30-07-2013 18:58,498,Broadway & W 32 St,40.748549,-73.988084,465,Broadway,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['stopweek'] = df['stopdate'].dt.isocalendar().week

In [ ]:
df['stopweekofyear'] = df['stopdate'].dt.weekofyear

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.

In [ ]:
data=df.dropna()

In [ ]:
data.isna().sum()

tripduration               0.0
starttime                  0.0
stoptime                   0.0
start station id           0.0
start station name         0.0
start station latitude     0.0
start station longitude    0.0
end station id             0.0
end station name           0.0
end station latitude       0.0
end station longitude      0.0
bikeid                     0.0
usertype                   0.0
birthyear                  0.0
gender                     0.0
startdate                  0.0
stopdate                   0.0
startmonth                 0.0
startday                   0.0
startminute                0.0
startweek                  0.0
startweekday               0.0
startweekofyear            0.0
startdayofyear             0.0
startquarter               0.0
stopmonth                  0.0
stopday                    0.0
stopminute                 0.0
stopweek                   0.0
stopweekday                0.0
stopdayofyear              0.0
stopquarter                0.0
stopweekofyear             0.0
dtype: float64

In [ ]:
data1=data.drop(['start station name'],axis=1)
data1.head()

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birthyear, gender, startdate, stopdate, startmonth, startday, startminute, startweek, startweekday, startweekofyear, startdayofyear, startquarter, stopmonth, stopday, stopminute, stopweek, stopweekday, stopdayofyear, stopquarter, stopweekofyear]
Index: []

[0 rows x 32 columns]

In [ ]:
data1=data1.drop(['end station name'],axis=1)

In [ ]:
data1.head()

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station latitude, start station longitude, end station id, end station latitude, end station longitude, bikeid, usertype, birthyear, gender, startdate, stopdate, startmonth, startday, startminute, startweek, startweekday, startweekofyear, startdayofyear, startquarter, stopmonth, stopday, stopminute, stopweek, stopweekday, stopdayofyear, stopquarter, stopweekofyear]
Index: []

[0 rows x 31 columns]

In [ ]:
data1=data1.drop(['starttime'],axis=1)

In [ ]:
data1=data1.drop(['stoptime'],axis=1)

In [ ]:
data1['startmonth'] = data1['startmonth'].astype(int)

In [ ]:
data1['startday'] = data1['startday'].astype(int)
data1['startminute'] = data1['startminute'].astype(int)
data1['startweek'] = data1['startweek'].astype(int)
data1['startweekday'] = data1['startweekday'].astype(int)
data1['startweekofyear'] = data1['startweekofyear'].astype(int)
data1['startdayofyear'] = data1['startdayofyear'].astype(int)

In [ ]:
data1['startquarter'] = data1['startquarter'].astype(int)
data1['stopmonth'] = data1['stopmonth'].astype(int)
data1['stopday'] = data1['stopday'].astype(int)
data1['stopminute'] = data1['stopminute'].astype(int)
data1['stopweek'] = data1['stopweek'].astype(int)
data1['stopweekday'] = data1['stopweekday'].astype(int)
data1['stopweekofyear'] = data1['stopweekofyear'].astype(int)
data1['stopdayofyear'] = data1['stopdayofyear'].astype(int)
data1['stopquarter'] = data1['stopquarter'].astype(int)

In [ ]:
display(data1.dtypes)

tripduration                        int64
start station id                    int64
start station latitude            float64
start station longitude           float64
end station id                      int64
end station latitude              float64
end station longitude             float64
bikeid                            float64
usertype                           object
birthyear                          object
gender                            float64
startdate                  datetime64[ns]
stopdate                   datetime64[ns]
startmonth                          int64
startday                            int64
startminute                         int64
startweek                           int64
startweekday                        int64
startweekofyear                     int64
startdayofyear                      int64
startquarter                        int64
stopmonth                           int64
stopday                             int64
stopminute                          int64
stopweek                            int64
stopweekday                         int64
stopdayofyear                       int64
stopquarter                         int64
stopweekofyear                      int64
dtype: object

In [ ]:
display(data1.dtypes)

tripduration                        int64
start station id                    int64
start station latitude            float64
start station longitude           float64
end station id                      int64
end station latitude              float64
end station longitude             float64
bikeid                            float64
usertype                           object
birthyear                          object
gender                            float64
startdate                  datetime64[ns]
stopdate                   datetime64[ns]
startmonth                          int64
startday                            int64
startminute                         int64
startweek                           int64
startweekday                        int64
startweekofyear                     int64
startdayofyear                      int64
startquarter                        int64
stopmonth                           int64
stopday                             int64
stopminute                          int64
stopweek                            int64
stopweekday                         int64
stopdayofyear                       int64
stopquarter                         int64
stopweekofyear                      int64
dtype: object

In [ ]:
df['startdate'] = df['startdate'].astype(str)

In [ ]:
data1=data1.drop(['startdate'],axis=1)
data1=data1.drop(['stopdate'],axis=1)

In [ ]:
data1.dtypes

tripduration                 int64
start station id             int64
start station latitude     float64
start station longitude    float64
end station id               int64
end station latitude       float64
end station longitude      float64
bikeid                     float64
usertype                    object
birthyear                   object
gender                     float64
startmonth                   int64
startday                     int64
startminute                  int64
startweek                    int64
startweekday                 int64
startweekofyear              int64
startdayofyear               int64
startquarter                 int64
stopmonth                    int64
stopday                      int64
stopminute                   int64
stopweek                     int64
stopweekday                  int64
stopdayofyear                int64
stopquarter                  int64
stopweekofyear               int64
dtype: object

In [ ]:
df2.replace(2,1)

        available
0             0.0
1             0.0
2             1.0
3             0.0
4             1.0
...           ...
796714        1.0
796715        1.0
796716        1.0
796717        1.0
796718        NaN

[796719 rows x 1 columns]

In [ ]:
data2=df2.replace(2,1)

In [ ]:
data2.head()

   available
0        0.0
1        0.0
2        1.0
3        0.0
4        1.0

In [ ]:
data2['available']=data2['available'].dropna()

In [ ]:
data2['available'] = data2['available'].astype(int)

IntCastingNaNError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data1, data2, test_size=0.20)

In [ ]:
X_train.dtypes

In [ ]:
y_train.dtypes

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn import metrics
accuracy=metrics.accuracy_score(y_test, y_pred)*100
print("The accuracy for the available of bikes is ",accuracy,"%")